@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Inter'), url('../fonts/Inter-Thin.ttf') format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter'), url('../fonts/Inter-Regular.ttf') format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Inter'), url('../fonts/Inter-SemiBold.ttf') format("ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inter'), url('../fonts/Inter-Bold.ttf') format("ttf");
}

@font-face {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Stolzl-Bold.ttf");
}

@font-face {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Stolzl-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Montserrat'), url('../fonts/Montserrat-ExtraLight.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat'), url('../fonts/Montserrat-Light.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat'), url('../fonts/Montserrat-Regular.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat'), url('../fonts/Montserrat-Medium.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat'), url('../fonts/Montserrat-SemiBold.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Montserrat'), url('../fonts/Montserrat-Bold.woff2') format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat'), url('../fonts/Montserrat-ExtraBold.woff2') format("woff2");
}