// new font
@font-face {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Stolzl-Bold.ttf");
}

@font-face {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Stolzl-Regular.ttf");
}
